*.sqlite3
*.csv
tests
venv
.idea
*.pyc
.env.dev
.env.prod
.env
*.bat
app/suorganizer/__pycache__/
user/__pycache__/
user/migrations/__pycache__/
*.bak
*.dat
*.dir
catalog/migrations/*.py
test_data/*
*.xlsx
*.ipynb
staticfiles/*