*.sqlite3
*.csv
venv
.idea
*.pyc
env
_notes
_heroku_deployment
_digitalocean
.env
_data
_temp
_output_htmls
*.bat
*.tar
app/suorganizer/__pycache__/
user/__pycache__/
user/migrations/__pycache__/
*/*/migrations/
*.bak
*.dat
*.dir
_chrome_driver
catalog/migrations/*.py
test_data/*
*.xlsx
*.ipynb
auto_deploy_do.sh
staticfiles/*
_data/*.json
*.json
app/_data/users.json
*.pid