*.sqlite3
*.csv
tests
venv
.idea
*.pyc
env
_notes
_heroku_deployment
.env
_data
_temp
*.bat
*.tar
app/suorganizer/__pycache__/
user/__pycache__/
user/migrations/__pycache__/
*/*/migrations/
*.bak
*.dat
*.dir
catalog/migrations/*.py
test_data/*
*.xlsx
*.ipynb
staticfiles/*