version: "3.7"

services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
#    command: gunicorn suorganizer.wsgi:application --bind 0.0.0.0:8000
    command: python3 manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    env_file:
      - .env.dev
    depends_on:
      - redis
      - db
    networks:
      - backend
    volumes:
      - ./app:/usr/code/app

  worker:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: celery -A suorganizer worker -l info -P solo
    env_file:
      - .env.dev
    depends_on:
      - redis
    networks:
      - backend

  beat:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: celery -A suorganizer beat -l info
    env_file:
      - .env.dev
    depends_on:
      - redis
    networks:
      - backend


  db:
    image: postgres:12.0-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=llfdb_dev
    ports:
      - 5434:5432
    networks:
      - backend
    volumes:
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:latest
    expose:
      - 6379
    networks:
      - backend

networks:
  backend:
