version: "3.7"

services:

  nginx:
    build: ./compose/production/nginx
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles
    ports:
      - 80:80
      - 5555:5555
    depends_on:
      - web
      - flower

  web:
    build:
      context: .
      dockerfile: ./compose/dev/django/Dockerfile
    image: llfadmin
    command: /start
    ports:
      - 8000:8000
    env_file:
      - env/.env.prod
    depends_on:
      - redis
      - db
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles

  worker:
    image: llfadmin
    command: /start-celeryworker
    env_file:
      - env/.env.prod
    depends_on:
      - redis
      - db
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles


  beat:
    image: llfadmin
    command: /start-celerybeat
    env_file:
      - env/.env.prod
    depends_on:
      - redis
      - db
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles


  flower:
    image: llfadmin
    command: /start-flower
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles
    env_file:
      - env/.env.prod
    depends_on:
      - redis
      - db

  db:
    image: postgres:12.0-alpine
    env_file:
      - env/.env.prod
    volumes:
      - ./init_prod.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:latest


volumes:
  postgres_data:
  staticfiles:
  mediafiles:
