version: "3.7"

services:
  web:
    build:
      context: ./app
      dockerfile: _data/Dockerfile.prod
    command: gunicorn suorganizer.wsgi --bind 0.0.0.0:8000
    ports:
      - 8000:8000
    env_file:
      - .env.prod
    depends_on:
      - redis
      - db
    networks:
      - backend


  worker:
    build:
      context: ./app
      dockerfile: _data/Dockerfile.prod
    command: celery -A suorganizer worker -l info -P solo
    env_file:
      - .env.prod
    depends_on:
      - redis
    networks:
      - backend

  beat:
    build:
      context: ./app
      dockerfile: _data/Dockerfile.prod
    command: celery -A suorganizer beat -l info
    env_file:
      - .env.prod
    depends_on:
      - redis
    networks:
      - backend


  db:
    image: postgres:12.0-alpine
    env_file:
      - .env.prod
    networks:
      - backend

  redis:
    image: redis:latest
    expose:
      - 6379
    networks:
      - backend

  nginx:
    build: ./nginx
    ports:
      - 1337:80
    depends_on:
      - web

networks:
  backend:
