version: "3.3"

services:

  nginx:
    image: "${NGINX_IMAGE}"
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles
    ports:
      - 80:80
      - 5555:5555
    depends_on:
      - web
      - flower

  web:
    image: "${WEB_IMAGE}"
    command: /start
#    command: tail -f /dev/null
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles

  worker:
    image: "${WEB_IMAGE}"
    command: /start-celeryworker
#    command: tail -f /dev/null
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles


  beat:
    image: "${WEB_IMAGE}"
    command: /start-celerybeat
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles


  flower:
    image: "${WEB_IMAGE}"
    command: /start-flower
#    command: tail -f /dev/null
    volumes:
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles
    env_file:
      - .env
    depends_on:
      - redis
      - db

  db:
    image: postgres:12.0-alpine
#    ports:
#      - 5433:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=p@ssword
      - POSTGRES_DB=llfdb_prod
    volumes:
      - ./compose/production/django/init_prod.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data_prod:/var/lib/postgresql/data/

  redis:
    image: redis:latest


volumes:
  postgres_data_prod:
  staticfiles:
  mediafiles:
