{% load bootstrap4 %}


<div class="message-box">
        <div class="center-message">
            <p>Are you sure you want to delete {{ item_type }}: {{ item_name }}?</p>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% buttons %}
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-sm-2">
                <a href="{{ view.get_success_url }}" ><button type="button" class="btn btn-primary">Cancel</button></a>
            </div>
            <div class="col-sm-4"></div>
        </div>
</div>

