 <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<h1>
    {{item_type}}
    {% if user.is_staff or user.is_superuser %}
        <a href='{{ create_url}}' class="create-group btn btn-default" role="button"><i class="plus square icon"></i>Create</a>
        <a href="{{ export_url }}" class="btn btn-default" role="button"><i class="cloud download icon"></i>Export</a>
    {% endif %}
</h1>

{% if item_list %}
    {% for item in item_list %}
        <div class="ui special cards">
            <div class="card">
                <div class="content">
                    <a class="header" href="{{ item.get_absolute_url }}">{{ item.name}}</a>
                    <div class="meta">
                        {% if item_type == 'Group' %}
                            <i class="users icon"></i>
                            <span class="date">{{ item.user_set.count }} Users</span>
                        {% endif %}
                    </div>
                </div>
                <div class="extra content">
                    <a href="{{item.get_absolute_update_url}}">
                        <i class=""></i>
                        Update
                    </a>

                    <a href="{{item.get_absolute_delete_url}}">
                        <i class=""></i>
                        Delete
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <p>There are no {{item_type}}s .</p>
{% endif %}