

<table class="table table-hover">
    <thead>
    </thead>

    <tbody>
        <tr>
            <td>Group</td>
            <td>
                {% if user.group.slug %}
                    <a href="{% url 'group_detail' user.group.slug %}">{{ user.group.name }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <td>Phone #</td>
            <td>{{ user.phone_number }}</td>
        </tr>

        <tr>
            <td>Job</td>
            <td>{{ user.job }}</td>
        </tr>

        <tr>
            <td>Birthday </td>
            <td>{{ user.birthday|date:'m/j' }}</td>
        </tr>

        <tr>
            <td>Hometown </td>
            <td>{{ user.hometown }}</td>
        </tr>
        <tr>
            <td>First-time visit </td>
            <td>{{ user.first_time_visit }}</td>
        </tr>
        <tr>
            <td>Habits</td>
            <td>{{ user.habits }}</td>
        </tr>
    </tbody>
</table>
