

<table class="table table-hover">
    <thead>
    </thead>

    <tbody>
        <td>Small group</td>
            <td>
                {% if user.group.slug %}
                    <a href="{% url 'group_detail' user.group.slug %}">{{ user.group.name }}</a>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>

        <tr>
            <td>Job</td>
            <td>{{ user.job }}</td>
        </tr>

        <tr>
            <td>Birthday </td>
            <td>{{ user.birthday|date:'m/j' }}</td>
        </tr>

        <tr>
            <td>Hometown </td>
            <td>{{ user.hometown }}</td>
        </tr>

        <tr>
            <td>Hobby</td>
            <td>{{ user.habits }}</td>
        </tr>

        <tr>
            <td>First time visit on </td>
            <td>{{ user.first_time_visit }}</td>
        </tr>


        {% if request.user.pk == profile.user.pk or request.user.is_superuser %}
            {# Visible only to the user himself #}
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <td>Phone #</td>
                <td>{{ user.phone_number }}</td>
            </tr>
            <tr>
                <td>Permission group</td>
                {% if user.is_superuser and user.is_staff %}
                    <td>super user, staff user</td>
                {% elif user.is_superuser %}
                    <td>super user</td>
                {% elif user.is_staff %}
                    <td>staff user</td>
                {% else %}
                    <td>regular user</td>
                {% endif %}
            </tr>
        {% endif %}

    </tbody>
</table>
