{% extends parent_template|default:"base.html" %}

{% block statics %}
    {% load static %}

    <!-- Add additional CSS in static file for users -->
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
{% endblock statics %}


{% block scripts %}
    {% load static %}
    <!-- Load additional javascripts for users-->
        <script src="{% static 'users/js/user_app.js' %}"></script>
    <script type="text/javascript">
    </script>
{% endblock scripts %}