{% extends parent_template|default:"users/base_users.html" %}

{% block title %}
{{ block.super }} - Login
{% endblock %}

{% block content %}
    <div class="sign-in-box">
        {% include 'users/_login_greetings.html' %}

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                {% include "users/_login_form.html" %}
            </div>
            <div class="col-sm-3"></div>
        </div>


        <div class="offset-by-two five columns"></div>
        <div class="three columns">
            <ul class="task-list">
                <li><a href="{% url 'create' %}">
                    Register New Account</a></li>
                <li><a href="{% url 'pw_reset_start' %}">
                    Forgotten password?</a></li>
                <li><a href="{% url 'resend_activation' %}">
                    Lost Activation E-Mail?</a></li>
            </ul>
        </div>



{% endblock %}