{% extends parent_template|default:"users/base_users.html" %}

{% block title %}
    {{ block.super }} -
    {{ profile.user.name }}'s Profile
{% endblock %}

{% block content %}
    <div class="row">
        {% if user.pk == profile.user.pk %}
            <div class="offset-by-two five columns">
        {% else %}
            <div class="offset-by-two eight columns">
        {% endif%}
                <h2>About {{ profile.user.name }}</h2>
        {#    {{ profile.about|default:"No Profile"|linebreaks }}#}
            </div><!-- columns -->

        {% if user.pk == profile.user.pk %}
            <div class="three columns">
                <ul class="task-list">
                    <li><a href="{{ profile.get_absolute_update_url }}">
                        Edit Your Profile</a></li>
                    <li><a href="{% url 'pw_change' %}">
                        Change Password</a></li>
                    {#          <li><a href="{% url 'dj-auth:disable' %}">#}
                    {#            Disable Account</a></li>#}
                </ul>
            </div>
        {% endif%}
    </div>
        <!-- row -->
    {% include 'users/_user_detail.html' %}

{% endblock %}