{% extends parent_template|default:"users/base_users.html" %}
{% load display_form %}

{% block title %}
    {{ block.super }} - Resend Activation
{% endblock %}

{% block content %}
     <div class="sign-in-box">
         {% include 'users/_login_greetings.html' %}

         <div class="center-message">
             <p> Resend your account activation email to admin for approval.</p>
         </div>

         <div class="reset-activation-box">
             {% url 'resend_activation' as form_url %}
             {% form form_url 'Resend Activation Email' %}
         </div>
     </div>

{% endblock %}