{% extends parent_template|default:"users/base_users.html" %}
{% load bootstrap4 %}

{% block title %}
    {{ block.super }} - Create Account
{% endblock %}

{% block content %}
    <div class="sign-in-box">
        {% include 'users/_login_greetings.html' %}

        <div class="center-message">
            <p>Registration Form</p>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form action="{% url 'create' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    {% endbuttons %}

                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}