{% extends parent_template|default:"users/base_users.html" %}

{% block title %}
    {{ block.super }} - Request Acknowledged
{% endblock %}

{% block content %}
     <div class="sign-in-box">
        {% include 'users/_login_greetings.html' %}
         <div class="center-message">
             <p>Your request has been sent to the admin for approval.
                 You will receive an email notification when the request is approved!</p>
             <p>Thanks for your patience!</p>
         </div>
     </div>
{% endblock %}