{% extends parent_template|default:"users/base_users.html" %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

    $(function () {

          // log in & sign up buttons

          // create book button
          $(".create-user").modalForm({
            formURL: "{% url 'user_create' %}",
            // modalContent: ".modal-content-dbmf",
            // modalForm: ".modal-content-dbmf form"
          });



          // delete book buttons
          $(".delete-user").each(function () {

            $(this).modalForm({
              formURL: $(this).data('id'),
              // modalContent: ".modal-content-dbmf",
              // modalForm: ".modal-content-dbmf form"
            });
          });

          // hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
          });

          // autofocus to first input field of a modal
          $('.modal').on('shown.bs.modal', function () {
            $('form').find('input[type=text]').filter(':visible:first').focus();
          });

        });

    </script>
{% endblock scripts %}


{% block content %}

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <h1>Users
    <a href="{% url 'user_export' %}" class="btn btn-default" role="button"><i class="cloud download icon"></i>Export</a>
    {#<a href='{% url 'user_create' %}' class="create-user btn btn-default" role="button"><i class="plus square icon"></i>Create</a>#}
    </h1>

    {% if user_list %}
    <div class="ui cards">
        {% for user in user_list %}
            <div class="card">
                <div class="content">
                    <a class="header" href="{% url 'user_detail' user.slug %}">{{ user.name }}</a>
                    <div class="meta">{{ user.job }}</div>
                    <div class="description">
                        From {{ user.hometown}}
                    </div>
                </div>

                <div class="extra content">
                    <div class="ui two buttons">
                        <button type="button" class="delete-user ui basic green button" data-id="{% url 'user_update' user.slug %}"> Update</button>
                        <button type="button" class="delete-user ui basic red button" data-id="{% url 'user_delete' user.slug %}"> Delete</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>There are no users in the library.</p>
    {% endif %}
{% endblock %}

