 <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h1>
    {{item_type}}
       {% if item_type == 'group' %}
           <a href='{% url 'group_create' %}' class="create-group btn btn-default" role="button"><i class="plus square icon"></i>Create</a>
       {% else %}
           <a href='{% url 'category_create' %}' class="create-group btn btn-default" role="button"><i class="plus square icon"></i>Create</a>
       {% endif %}
  </h1>

  {% if item_list %}
    {% for item in item_list %}
      <div class="ui special cards">
        <div class="card">
          <div class="content">
              {% if item_type == 'group' %}
                  <a class="header" href="{% url 'group_detail' item.slug %}">{{ item.name}}</a>
                  <div class="meta">
                      <span class="date">Created in Sep 2014</span>
                  </div>
              {% else %}
                  <a class="header" href="{% url 'category_detail' item.name %}">{{ item.name}}</a>
              {% endif %}
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
{#              {{ group.users.count }}Users#}
            </a>
              {% if item_type == 'group' %}
                  <a href="{% url 'group_update' item.slug %}">
              {% else %}
                  <a href="{% url 'category_update' item.name %}">
              {% endif %}
              <i class=""></i>
              Update
            </a>
              </a>
              {% if item_type == 'group' %}
                  <a href="{% url 'group_delete' item.slug %}">
              {% else %}
                  <a href="{% url 'category_delete' item.name %}">
              {% endif %}
              <i class=""></i>
              Delete
            </a>
          </div>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <p>There are no {{item_type}}s in the library.</p>
  {% endif %}