{% extends parent_template|default:"base.html" %}

{% block statics %}
    {% load static %}

    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/bootstrap.min.css' %}">
{% endblock statics %}

{% block scripts %}
    {% load static %}
    <!-- Load additional javascripts for catalog-->
    <script src="{% static 'catalog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'catalog/js/popper.min.js' %}"></script> <!-- Needed for dropddown to work-->
    <script src="{% static 'catalog/js/transition.min.js' %}"></script> <!-- Needed for dropddown to work-->
    <script src="{% static 'catalog/js/dropdown.min.js' %}"></script>
    <script src="{% static 'catalog/js/app.js' %}"></script>

    <script src="{% static 'catalog/js/jquery.formset.js' %}"></script>
{#    <script src="{% static 'catalog/js/jquery.bootstrap.modal.forms.js' %}"></script>#}
{% endblock scripts %}
