{% extends parent_template|default:"catalog/base_user.html" %}


{% block scripts %}
    <script type="text/javascript">

    $(function () {

          // log in & sign up buttons


          // create book button
          $(".create-group").modalForm({
            formURL: "{% url 'group_create' %}",
            // modalContent: ".modal-content-dbmf",
            // modalForm: ".modal-content-dbmf form"
          });



          // delete book buttons
          $(".delete-member").each(function () {

            $(this).modalForm({
              formURL: $(this).data('id'),
              // modalContent: ".modal-content-dbmf",
              // modalForm: ".modal-content-dbmf form"
            });
          });

          // hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
          });

          // autofocus to first input field of a modal
          $('.modal').on('shown.bs.modal', function () {
            $('form').find('input[type=text]').filter(':visible:first').focus();
          });

        });

    </script>
{% endblock scripts %}

{% block content %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h1>
    Groups
    <a href='#' class="create-group btn btn-default" role="button"><i class="plus square icon"></i>Create</a>
  </h1>

  {% if group_list %}
    {% for group in group_list %}
      <div class="ui special cards">
        <div class="card">
          <div class="content">
            <a class="header">{{ group.name}}</a>
            <div class="meta">
              <span class="date">Created in Sep 2014</span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              {{ group.members.count }}Members
            </a>
          </div>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <p>There are no groups in the library.</p>
  {% endif %}
{% endblock %}

