{% extends parent_template|default:"catalog/base_catalog.html" %}

{% block content %}
    <h1>Group Info</h1>
    <p>Group name: {{ group.name }}</p>
    <p>Details: {{ group.description}}</p>

    <h1>Group Members</h1>
        <div class="ui cards">
            {% for user in group.users.all  %}
            <div class="card">
                <div class="content">
                    <a class="header" href="#">{{ user.name }}</a>
                    <div class="meta">{{ user.job }}</div>
                    <div class="description">
                        From {{ user.hometown}}
                    </div>
                    <div class="extra content">
                        <div class="ui buttons">
                            <div class="ui button">
                                <a href="{% url 'users.user_detail' user.slug%}">View</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>

{% endblock %}}