{% extends parent_template|default:"catalog/base_catalog.html" %}

{% block content %}
  <h1>LLF Administration Portal</h1>
  <h2>Active members and groups</h2>
  <ul>
    <li><strong>Members:</strong> {{ num_members }}</li>
    <li><strong>Small groups:</strong> {{ num_groups }}</li>
  </ul>

  <h2>Service teams</h2>
  <h3>This week ({{ this_week_service_date }})</h3>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Service category</th>
      <th>Servant names</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    {% for service in services %}
    <tr>
      <td>{{ service.name }}</td>
      <td>{{ service.servant_names }}</td>
      <td>{{ service.service_content }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <h3>Next week ({{ next_week_service_date }})</h3>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Service category</th>
      <th>Servant names</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    {% for service in next_services %}
    <tr>
      <td>{{ service.name }}</td>
      <td>{{ service.servant_names }}</td>
      <td>{{ service.service_content }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}