.main.container {
    margin-top: 2em;
}

.main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
    text-align: right;
    background-color: rgba(0,0,0,0.1);
}

.main.menu .item img.logo {
    margin-right: 1.5em;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}

.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.main.menu.fixed {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
    left: 800px;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}



.task-list{
    list-style: none;
}

tr[data-id="1"]{
    font-weight: bold;
    color: cadetblue;
}

.logo{
    margin-left: 2%;
    margin-bottom:5%;
}
.sign-in-box .loginVerse, .sign-out-box .loginVerse{
    margin-bottom: 3em;
    font-family: cursive;
}

.center-message {
    margin-bottom: 3em;
    font-family: sans-serif;
}

.sign-in-box, .sign-out-box, .message-box {
    width: 88%;
    max-width: 1100px;
    /*margin-left: 50%;*/
    margin-top: 20%;
    /*margin-right: auto;*/
    text-align: center;
}

.reset-email-box, .reset-activation-box{
    margin-left: 35%;
    margin-top:10%;
}

.errorlist {
    list-style-type: none;
    color:red;
}

/* Hide the labels */
label[for="id_username"], label[for="id_password"], label[for="id_email"],
label[for="id_name"], label[for="id_password1"], label[for="id_password2"]{
    display: none;
}