<!DOCTYPE html>
<html lang="en">
<head>
<!--    {% load staticfiles %}-->
    <title>
        {% block title %}
           LLF Admin Portal
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/api.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--  <link rel="stylesheet" href="/resources/demos/style.css">-->
<!--  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
<!--    {% load bootstrap4 %}-->
<!--    {% bootstrap_css %}-->
<!--    {% bootstrap_javascript jquery='full' %}-->


</head>
<body>


 <div class="ui borderless main menu">
      <div class="ui text container">
<!--        <div class="header item" href="% url 'member_index' %}">-->
<!--          <img class="logo" src="" />Home-->
<!--        </div>-->
          <a class="item" href="{% url 'member_index' %}">Home</a>
        <a class="item" href="{% url 'member_list' %}">Members</a>
        <a class="item" href="{% url 'service_list'%}">Services</a>
          <a class="item" href="{% url 'group_list'%}">Groups</a>
          <a class="item" href="{% url 'logout' %}">Log Out</a>
<!--        <a class="ui right floated dropdown item" href="#root">-->
<!--          Dropdown <i class="dropdown icon"></i>-->
<!--          <div class="menu">-->
<!--            <div class="item">Link Item</div>-->
<!--            <div class="item">Link Item</div>-->
<!--            <div class="divider"></div>-->
<!--            <div class="header">Header Item</div>-->
<!--            <div class="item">-->
<!--              <i class="dropdown icon"></i> Sub Menu-->
<!--              <div class="menu">-->
<!--                <div class="item">Link Item</div>-->
<!--                <div class="item">Link Item</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item">Link Item</div>-->
<!--          </div>-->
<!--        </a>-->
      </div>
 </div>

<div class="ui text container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>