{% extends parent_template|default:"catalog/base_user.html" %}

{% block content %}
  <h1>Members</h1>
  {% if member_list %}

    <div class="ui cards">
      {% for member in member_list %}
            <div class="card">
              <div class="content">
                <a class="header" href="{% url 'member_detail' member.slug %}">{{ member.name }}</a>
                <div class="meta">{{ member.job }}</div>
                <div class="description">
                  From {{ member.hometown}}
                </div>
              </div>
                <div class="extra content">
                  <div class="ui buttons">
                    <div class="ui delete button">
                      <a href="{% url 'member_delete' member.slug%}">Delete</a>
                    </div>
                    <div class="or"></div>
                    <div class="ui primary update button">
                      <a href="{% url 'member_update' member.slug%}">Update</a>
                    </div>
                  </div>
                </div>

            </div>
          {% endfor %}

    </div>
  {% else %}
    <p>There are no members in the library.</p>
  {% endif %}
{% endblock %}

<div class="ui cards">

