{% extends parent_template|default:"catalog/base_user.html" %}
{% load display_form %}
{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block content %}

<div class="sign-in-box">
  <a href="https://llfadmin.herokuapp.com/">
      {% load static %}
        <img class="little-lambs-logo" src="{% static 'img/little-lambs.jpg' %}" width="150" height="150">
    </a>

  <div class="center">
    <p>Forgot your password? <br> Do not worry. Give us your email and we'll send
      you an instruction to reset your password by email.</p>

  </div>

  <div class="reset-email-box">
    {% url 'pw_reset_start' as form_url %}
    {% form form_url 'Reset password' %}
  </div>

</div>
{% endblock %}