{% extends parent_template|default:"catalog/base_user.html" %}

{% block content %}
<h1>Services
<a href="{% url 'service_export' %}" class="btn btn-default" role="button"><i class="cloud download icon"></i>Export</a>
<a href="{% url 'service_create' %}" class="btn btn-default" role="button"><i class="plus square icon"></i>Create</a>
</h1>

{% load django_tables2 %}
<!--{% load bootstrap3 %}-->

{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}


{% render_table table 'django_tables2/bootstrap.html' %}
{% endblock %}

