{% extends parent_template|default:"catalog/base_user.html" %}

{% block content %}
<h1>Services </h1>
<a href="{% url 'service_export' %}"><i class="cloud download icon"></i>Export services</a>
<a href="{% url 'service_create' %}"><i class="plus circle icon"></i>Create</a>


{% load django_tables2 %}
<!--{% load bootstrap3 %}-->

{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}


{% render_table table 'django_tables2/bootstrap.html' %}
{% endblock %}

