name: Continuous Integration and Delivery

on: [push]

env:
  WEB_IMAGE: docker.pkg.github.com/$GITHUB_REPOSITORY/llfadmin:latest
  NGINX_IMAGE: docker.pkg.github.com/$GITHUB_REPOSITORY/nginx:latest

jobs:

#  build:
#    name: Build Docker Images
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout master
#        uses: actions/checkout@v2
#      - name: Add environment variables to .env
#        run: |
#          echo DEBUG=0 >> .env
#          echo SQL_ENGINE=django.db.backends.postgresql >> .env
#          echo DATABASE=postgres >> .env
#          echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> .env
#          echo SQL_DATABASE=${{ secrets.SQL_DATABASE }} >> .env
#          echo SQL_USER=${{ secrets.SQL_USER }} >> .env
#          echo SQL_PASSWORD=${{ secrets.SQL_PASSWORD }} >> .env
#          echo SQL_HOST=${{ secrets.SQL_HOST }} >> .env
#          echo SQL_PORT=${{ secrets.SQL_PORT }} >> .env
#      - name: Set environment variables
#        run: |
#          echo ::set-env name=WEB_IMAGE::${{ env.WEB_IMAGE }}
#          echo ::set-env name=NGINX_IMAGE::${{ env.NGINX_IMAGE }}
#      - name: Log in to GitHub Packages
#        run: echo ${GITHUB_TOKEN} | docker login -u ${GITHUB_ACTOR} --password-stdin docker.pkg.github.com
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: Pull images
#        run: |
#          docker pull ${{ env.WEB_IMAGE }} || true
#          docker pull ${{ env.NGINX_IMAGE }} || true
#      - name: Build images
#        run: |
#          docker build -f compose/production/django/Dockerfile -t ${{ env.WEB_IMAGE}} .
#          docker build -f nginx/Dockerfile -t ${{ env.NGINX_IMAGE }} ./nginx
#
#      - name: Push images
#        run: |
#          docker push ${{ env.WEB_IMAGE }}
#          docker push ${{ env.NGINX_IMAGE }}

  deploy:
    name: Deploy to DigitalOcean
    runs-on: ubuntu-latest
#    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
      - name: Add environment variables to .env
        run: |
          echo WEB_IMAGE=${{ env.WEB_IMAGE }} >> .env
          echo NGINX_IMAGE=${{ env.NGINX_IMAGE }} >> .env

          echo DEBUG=0 >> .env
          echo ENV=prod >> .env
          echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> .env
          echo DJANGO_ALLOWED_HOSTS=${{ secrets.DJANGO_ALLOWED_HOSTS }} >> .env

          echo CELERY_BROKER_URL=${{ secrets.CELERY_BROKER_URL }} >> .env
          echo CELERY_RESULT_BACKEND=${{ secrets.CELERY_RESULT_BACKEND }} >> .env

          echo CELERY_FLOWER_USER=${{ secrets.CELERY_FLOWER_USER }} >> .env
          echo CELERY_FLOWER_PASSWORD=${{ secrets.CELERY_FLOWER_PASSWORD }} >> .env

          echo SQL_ENGINE=django.db.backends.postgresql >> .env
          echo DATABASE=postgres >> .env
          echo SQL_DATABASE=${{ secrets.SQL_DATABASE }} >> .env
          echo SQL_USER=${{ secrets.SQL_USER }} >> .env
          echo SQL_PASSWORD=${{ secrets.SQL_PASSWORD }} >> .env
          echo SQL_HOST=${{ secrets.SQL_HOST }} >> .env
          echo SQL_PORT=${{ secrets.SQL_PORT }} >> .env


          echo OFFICIAL_NO_REPLY_EMAIL=no-reply@agape-at-acc.com >> .env
          echo OFFICIAL_EMAIL_SUBJECT_PREFIX=[Agape Fellowship Admin] >> .env

          echo ADMIN_EMAIL=${{ secrets.ADMIN_EMAIL }} >> .env
          echo MAIL_USERNAME=${{ secrets.MAIL_USERNAME }} >> .env
          echo MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }} >> .env
          echo REMINDER_RECIPIENTS_EMAIL=krashilili0915@gmail.com >> .env

      - name: Add the private SSH key to the ssh-agent
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          mkdir -p ~/.ssh
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          ssh-add - <(echo "${{ secrets.PRIVATE_KEY }}")
      - name: Build and deploy images on DigitalOcean
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          scp  -o StrictHostKeyChecking=no -r ./.env ./docker-compose.prod.yml root@${{ secrets.DIGITAL_OCEAN_IP_ADDRESS }}:/app
          ssh -o StrictHostKeyChecking=no root@${{ secrets.DIGITAL_OCEAN_IP_ADDRESS }} << 'ENDSSH'
            cd /app
            source .env
            docker login docker.pkg.github.com -u yayunl -p ce70f1d4a3a906ce8ac24caa6870fd29f2273d30
            docker pull $WEB_IMAGE
            docker pull $NGINX_IMAGE
            docker-compose -f docker-compose.prod.yml up -d
          ENDSSH